.svgCurveH { position: absolute; top: 0; left: -99px; width: 100px; height: 100%; fill: #c9999b; stroke: none; }
.svgCurveE { position: absolute; top: 0; left: -99px; width: 100px; height: 100%; fill: #88837E; stroke: none; }