.main {
	height: 820vh;
	padding-top: 13vh;
	color: #2D333A !important;
	background-color: #FFFFFF !important;

	.title {
		font-size: 3.5vw;
		text-align: center;
		margin-bottom: 5vw;
		background-color: #7a0007;
		color: #ffffff;
		padding: 1vw;
	}

	.cursor {
		display: inline-block;
		animation: blink 1s steps(2, start) infinite;
	}

	@keyframes blink {
		0%, 20%, 40%, 60%, 80%, 100% { opacity: 1; }
		10%, 30%, 50%, 70%, 90% { opacity: 0; }
	}

	.parentDiv {
		height: 100%;
		color: #7a0007;
		background-color: #FFFFFF;
		
		.childDiv {
			padding: 1vw;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			gap: 1vw;

			span {
				width: 12vw;
				height: 24vh;
				color: #FFFFFF;
				cursor: pointer;

				.ImageDiv {
					width: 100%;
					height: 100%;

					.overlay {
						position: relative;
						bottom: 0;
						background: #7a00079A;
						width: 100%;
						transition: .5s ease;
						opacity: 1;
						color: #FFFFFF;
						font-size: 14px;
						padding: 1vw;
						text-align: center;
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 0.3vw;
					}

					&:hover {
						.overlay {
							opacity: 0.01;
							height: 13vh;
							bottom: 7.5vh;
							font-size: 8px;
							border-bottom-left-radius: 0.3vw;
							border-bottom-right-radius: 0.3vw;
							transform: scale(2);
							transition: transform 0.3s linear;
							visibility: visible;

							&:hover { opacity: 1; }
						}

						img {
							transform: scale(2);
							transition: transform 0.3s linear;
						}
					}

					&:not(:hover) {
						.overlay {
							opacity: 0;
							visibility: hidden;
							transition: transform 0.3s ease-in-out;
						}

						img {
							transition: transform 0.3s ease-in-out;
						}
					}
				}

				&:hover:nth-child(7n + 1) {
					position: relative;
					left: 40%;
					z-index: 2;
				}
				
				&:hover:nth-child(7n) {
					position: relative;
					right: 40%;
					z-index: 2;
				}

				&:hover:nth-child(7n - 1) {
					z-index: 2;
				}

				&:not(:hover):nth-child(1) {
					position: relative;
					left: 0%;
				}

				&:not(:hover):nth-child(7n) {
					position: relative;
					right: 0%;
				}

			}
		}

		.childDiv p {
			transition: all 0.3s ease;
			border: 2px solid transparent;

			&:empty {
				border-style: dashed;
			}
		}
	}
}

.cart {
	display: grid;
	place-items: end;
	position: fixed;
	bottom: 10vh;
	right: 2.5vw;
	gap: 1.5vh;
	z-index: 2;
	transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1);

	&.open {
		transform: translateY(0);
		transition: transform 0.4s ease;
		bottom: 1vh;

		.cartButtonWrapper {
			transform: translateY(0);
			transition: transform 0.4s ease;
		}

		.itemsWrapper {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.4s ease 0s, visibility 0.03s linear 0s;
			max-height: 50vh;
			overflow-y: auto;
			overflow-x: hidden;

			scrollbar-width: none;
		}
	}

	&:not(.open) {
		.cartButtonWrapper {
			transform: translateY(100%);
			transition: transform 0.4s ease;
		}

		.itemsWrapper {
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			transition: max-height 0.3s ease 0s, opacity 0.3s ease 0s;
		}
	}

	&:not(.open) .itemsWrapper .cartButtonWrapper {
		visibility: hidden;
		transition: visibility 0s linear 0.3s;
	}

	.cartButtonWrapper {
		.cartButton {
			display: flex;
			align-items: center;
			cursor: pointer;
			padding: 1rem;
			font-size: 1.5rem;
			background: #FFFFFF;
			border-radius: 0.5vw;
			box-shadow: 0 1rem 2rem hsla(0 0% 0% / 0.2);

			svg {
				width: 1.5em;
				height: 1.5em;
			}

			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.count {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -1.8vh;
			right: -0.8vw;
			color: #FFFFFF;
			background-color: #00547a;
			border-radius: 50%;
			height: 2vw;
			width: 2vw;
		}
	}

	.itemsWrapper {
		.items {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-auto-rows: auto;
			gap: 1vw;
			padding: 1vh;
			border-radius: 0.5vw;
			background-color: #FFFFFF;
			box-shadow: 0 1rem 2rem hsla(0 0% 0% / 0.2);

			p {
				width: 4vw;
				height: 8vh;
				color: #FFFFFF;
				cursor: pointer;

				img { width: 100%; height: 100%; object-fit: contain; border-radius: 0.3vw; }
			}
		}

		.emptyText {
			width: 20vw;
			height: 6vh;
			color: #7a0007;
			background-color: #FFFFFF;
			padding: 1vh;
			border-radius: 0.5vw;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 1rem;
			border-radius: 0.5vw;
			pointer-events: none;
			box-shadow: 0 1rem 2rem hsla(0 0% 0% / 0.2);
		}

	}	
	.orderEmail {
		width: 10vw;
		height: 4vh;
		border-radius: 0.3vw;
		background-color: #00547a;
		pointer-events: all;
		cursor: pointer;
	}
}

@media (prefers-reduced-motion) {
	.cart {
		transition-duration: 0s;
	}

	.cart:not(.open) .items-wrapper {
		transition-delay: 0s;
	}
}