.landing {
	position: relative; display: flex; height: 100svh; width: 100vw; overflow: hidden;
	img { width: 100%; height: 100%; }
	article { position: absolute; bottom: 25%; left: 20%; color: #564F47; text-align: left; font-size: clamp(.6rem, 4vw, 3.5rem); margin-bottom: 0.5rem; }

	.articleMobile { bottom: 35%; left: 25%; }
	.articleTablet { bottom: 5%; left: 20%; }
}