.homeHeader { position: relative; width: 100%; display: flex; justify-content: center; padding-bottom: 35vh;}
// .backgroundImage { width: 100%;
// 	height: 117vh;
// 	position: absolute;
// 	filter: brightness(60%);
// 	border-radius: 1%;
// 	background-color: #FFFFFF1D;
// 	background-image: url('../../../public/images/background.svg'), url('../../../public/images/earthline-made.svg');
// 	background-repeat: no-repeat;
// 	background-position: 10vw, 72vw;
// 	background-size: auto, 15vw 100%;
// }

.backgroundImage { width: 100%;
	height: 117vh;
	position: absolute;
	filter: brightness(60%);
	border-radius: 1%;
	background-color: #FFFFFF1D;
	// background-image: url('../../../public/images/handoutStudios_EarthLineMade.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
.backgroundImage img { object-fit: cover; margin-top: 11vh; }
.intro { display: flex; justify-content: center; align-items: center; position: absolute; margin-top: 35vh; left: 38vw; }
.introImage { filter: brightness(70%); width: 300px; height: 300px; position: absolute; }