.footer{ display: flex; flex-direction: column; width: 100%; justify-content: space-between; font-size: 12px; gap: 40px; }
.logo { display: flex; cursor: pointer;
    p { margin: 0px; transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1); }
    .name { display: flex; position: relative; overflow: hidden; white-space: nowrap; margin-left: 5px; transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        p { position: relative; transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1); height: 3vh;
            &:nth-of-type(2) { padding-left: 0.3em; }
            &:nth-of-type(3) { position: absolute; left: 125px; padding-left: 0.3em; width: 100%; } 
        }
    }
    &:hover { .copyright { transform: rotate(360deg); }
        .name { padding-right: 30px;
            .handOut { transform: translateX(-100%); }
            .studios { transform: translateX(-125px); }
            .aishiniRuzal { transform: translateX(-125px); }
            .socialProfiles { transform: translateX(-125px); display: flex; justify-items: center; align-items: center; gap: 10; }
        }
    }
}

.imgAll { width: 2vw !important; }
