.main {
	padding: 5vh; background-color: #EDE8E4; color: #564F47; padding-top: 10vh;

	.titleMain {
		display: flex; justify-content: space-between; font-size: 2rem; font-weight: 300; margin: 2vh 0vh; padding: 1vw; background-color: #564F47; color: #EDE8E4; border-radius: 1vh;		
		@media (max-width: 786px) { font-size: small; align-items: center; }
	}
	

	.filterMain {
		display: flex; 
		gap: 2.5vw;
		.filter {
			width: 30vw; height: 100%; background-color: #EDE8E4; border-radius: 2vw; color: #564F47;
		}

		img { border-radius: 1vw; &:hover { transform: scale(1.2); } }
	}

	button {
		background-color: #EDE8E4; color: #564F47; border-radius: 1vh; font-size: 1rem; &:hover { background-color: #564F471A; color: #EDE8E4; }
		@media (max-width: 786px) { font-size: x-small; align-items: center; }
	}

	.overlay { position: absolute; bottom: 0; width: 100%; padding: 1rem; text-align: center; color: #EDE8E4; font-weight: 500; backdrop-filter: blur(10px); background: linear-gradient(to top, rgba(0,0,0,0.6), transparent); transform: translateY(100%); transition: transform 0.4s ease; }
	
	div:hover .overlay { transform: translateY(0%); }

}
