.roundedButton {
    border-radius: 3em;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px 15px 60px;
    p { position: relative; z-index: 1; transition: color 0.4s linear; } &:hover { p { color: #7a0007; } }
    &:hover { .roundedButton { border: none !important; } }
}
.circle { width: 100%; height: 150%; position: absolute; border-radius: 50%; top: 100%; }


.roundedButtonE {
    border-radius: 3em;
    border: 1px solid #EDE8E4;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px 15px 60px;
    p { position: relative; z-index: 1; transition: color 0.4s linear; } &:hover { p { color: #564F47; } }
    &:hover { .roundedButton { border: none !important; } }
}
.circle { width: 100%; height: 150%; position: absolute; border-radius: 50%; top: 100%; }