// earthline-design
.headerE {
	position: fixed; top: 0; left: 0; width: 100%; z-index: 50; display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; color: #564F47; background: transparent; transition: background-color 0.4s ease, backdrop-filter 0.4s ease;
	.logo {
		display: flex; cursor: pointer;
		.copyright {
			width: 32px;
			@media (min-width: 320px) { width: 50px; }
		}
		p { margin: 0px; transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1); }
		.name {
			display: flex; justify-content: center; align-items: center; position: relative; overflow: hidden; white-space: nowrap; margin-left: 5px; transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
			p {
				position: relative; transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1); font-size: x-large; font-weight: 400;
				@media (max-width: 786px) { font-size: x-small; }
				&:nth-of-type(2) {
					padding-left: 0.3em;
					@media (max-width: 786px) { font-size: x-small; }
				}
				&:nth-of-type(3) {
					position: absolute; left: 120px; padding-left: 3.1em; font-weight: 200;
					@media (max-width: 786px) { font-size: x-small; }
				}
			}
		}
	}
	.nav {
		display: flex; gap: 1rem; opacity: 0; transform: translateY(-10px); pointer-events: none; transition: all 0.3s ease;
		@media (min-width: 320px) { display: flex; gap: 1rem; }
		@media (max-width: 1000px) { opacity: 1; transform: translateY(0); pointer-events: auto; }
		.el {
			position: relative; padding: 1rem 5rem; font-size: clamp(0.9rem, 1vw, 1rem);
			.links {
				@media (max-width: 786px) { font-size: x-small; }
			}
			.indicator { position: absolute; bottom: -4px; left: 50%; width: 6px; height: 6px; background: #564F47; border-radius: 50%; transform: translateX(-50%) scale(0); transition: 0.3s; }
			&:hover .indicator { transform: translateX(-50%) scale(1);}
			@media (max-width: 1200px) { padding: 0.2rem; }
		}
	}

	&.scrolled { color: #564F47; backdrop-filter: blur(8px); .nav { .el { .indicator { background: #564F47; } } } }

}
.headerE:hover { .nav { opacity: 1; transform: translateY(0); pointer-events: auto; } .logo { opacity: 1; } }
