// .main {
// 	height: 100vh; padding: 5vh; background-color: #564F47; color: #EDE8E4;
// 	.card {
// 		margin-top: 4.8vh; display: flex; justify-content: space-between; flex: 1 1; height: 95%; background-color: #EDE8E4; border-radius: 2.5vh;
// 		.title { width: 71vw; font-size: 3rem; font-weight: 500; color: #564F47; position: relative; left: 26vw; }
// 		img { object-fit: contain; width: 100%; height: 100%; margin-top: 4.6vh; }
// 		.innerCardContainer{
// 			display: flex; flex-direction: column; gap: 2vh; padding: 2vw;
// 			.innerCard {
// 				background-color: #EDE8E4; color: #564F47; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border-radius: 2.5vh; padding: 2vh; display: flex; flex-direction: column; gap: 1vh;
// 				.innerCardTitle { font-size: 2rem; font-weight: 400; }
// 				.innerCardCaption { font-size: 1.2rem; font-weight: 200; margin-top: -2vh; }
// 				.innerCardbody { font-size: 1.5rem; font-weight: 300; text-align: start; }
// 			}
// 		}
// 	}
// }



.main {
	min-height: 100svh;
	background-color: #EDE8E4;
	color: #564F47;
	padding: clamp(1.5rem, 4vw, 4rem);
	padding-top: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	overflow-x: hidden;
	gap: 5vh;

	.title {
		font-size: clamp(1.8rem, 4vw, 3rem);
		font-weight: 500;
		color: #564F47;
	}

	.svgImage {
		flex: 1;
		max-width: 400px;
		width: 100%;
		height: auto;
		object-fit: contain;
		align-self: center;
		position: absolute;
		right: 0;
		bottom: 0;

		@media (max-width: 1199px) {
			visibility: hidden;
			display: none;
		}
	}
}
