.contactH {
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #7a0007;
	position: relative;
	.body {
		padding-top: 200px;
		width: 100%;
		max-width: 1800px;
		background-color: #7a0007;
		.title {
			border-bottom: 1px solid #FFFFFF;
			padding-bottom: 100px;
			margin-left: 200px;
			margin-right: 200px;
			position: relative;
			span {
				display: flex;
				align-items: center;
				.imageContainer { width: 100px; height: 100px; position: relative; border-radius: 50%; overflow: hidden;
					img { object-fit: contain; background-color: #FFFFFF; padding: 0.3vw; }
					p { margin: 0px; transition: all 0.8s cubic-bezier(0.76, 0, 0.24, 1); }
					&:hover { .copyright { transform: rotate(360deg); } }
				}
				h2 { margin-left: 0.3em; }
			}
			h2 { font-size: 4vw; margin: 0px; font-weight: 300; }
			.buttonContainer { position: absolute; left: calc(100% - 400px); top: calc(100% - 75px);
				.button { width: 130px;
					height: 130px;
					background-color: #FFFFFF;
					color: #7a0007;
					transition: color 0.4s linear;
					border-radius: 50%;
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					p { margin: 0px; font-size: 16px; font-weight: 300; z-index: 2; position: relative; }
					&:hover { color: #FFFFFF; transition: color 0.4s linear; }
					.textP { color: #FFFFFF; &:hover { color: #7a0007 !important; } }
				}
			}
			svg { position: absolute; top: 30%; left: 100%; }
		}
		.nav { display: flex; gap: 20px; margin-top: 100px; margin-left: 200px; margin-right: 200px; }
		.info { display: flex; justify-content: space-between; margin-top: 200px; padding: 20px;
			div { display: flex; gap: 10px; align-items: flex-end;
				a, p, h3 { margin: 0px; padding: 2.5px; cursor: pointer; }
				a, p {
					&::after {
						content: "";
						width: 0%;
						height: 1px;
						color: #7a0007;
						background-color: #FFFFFF;
						display: block;
						margin-top: 2px;
						position: relative;
						left: 50%;
						transform: translateX(-50%);
						transition: width 0.2s linear;
					}
					&:hover { &::after { width: 100%; } }
				}
				span { display: flex; flex-direction: column; gap: 15px; }
				h3 { color: #E5E5E5; cursor: default; font-weight: 300; font-size: 1em; }
			} 
		}
		.workVentureOuter {
			width: 14vw;
			position: fixed;
			left: 71vw;
			bottom: 60vh;
			margin-bottom: 2vh;
			background-color: #FFFFFF;
			border-radius: 15%;
			padding: 2vh;
			.imageContainerOtherVenture {
				width: 300px;
				height: 300px;
				div {
					width: 100%;
					height: 100%;
					background-image: url(/images/earthline-made.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					margin-left: -1.5vw;
				}
			}
		}
		.otherVenturesSpan { position: absolute; z-index: 1; transition: color 0.4s linear; right: -5vw; bottom: 30vh; }
	}
}


.contactE {
	color: #EDE8E4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #564F47;
	position: relative;
	.body {
		padding-top: clamp(20vh, 2vw, 20vh);
		width: 100%;
		max-width: 100vw;
		background-color: #564F47;
		.title {
			border-bottom: 1px solid #EDE8E4;
			padding-bottom: 5vh;
			margin-left: 10vw;
			margin-right: 12vw;
			position: relative;
			span {
				display: flex;
				align-items: center;
				.imageContainer { width: 10vw; height: 20vh; position: relative; border-radius: 5vw; overflow: hidden;
					img { object-fit: contain; background-color: #EDE8E4; padding: 0.2vw; }
					p { margin: 0px; transition: all 0.8s cubic-bezier(0.76, 0, 0.24, 1); }
					&:hover { .copyright { transform: scale(1.1); } }
				}
				h2 { margin-left: 0.3em; }
			}
			h2 { font-size: 4vw; margin: 0px; font-weight: 300; }
			.buttonContainer {
				position: absolute; left: calc(100% - 400px); top: calc(100% - 75px);
				.button {
					width: 7vw;
					height: 14vh;
					background-color: #EDE8E4;
					color: #564F47;
					transition: color 0.4s linear;
					border-radius: 5vw;
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					p { font-size: 1rem; font-weight: 300; z-index: 2; position: relative; }
					&:hover { color: #EDE8E4; transition: color 0.4s linear; }
					.textP { color: #EDE8E4; &:hover { color: #564F47 !important; } }
				}
			}
			svg { position: absolute; top: 7vh; left: 76vw; }
		}
		.nav { display: flex; gap: 1.5vw; margin-top: 7vh; margin-left: 10vw; margin-right: 12vw; }
		.info { display: flex; justify-content: space-between; margin-top: 20vh; padding: 2vw;
			div { display: flex; gap: 1vw; align-items: flex-end;
				a, p, h3 { padding: 0.03vw; cursor: pointer; }
				a, p {
					&::after {
						content: "";
						height: 0.1vh;
						color: #564F47;
						background-color: #EDE8E4;
						display: block;
						margin-top: 0.2vh;
						position: relative;
						left: 50%;
						transform: translateX(-50%);
						transition: width 0.2s linear;
					}
					&:hover { &::after { width: 100%; } }
				}
				span { display: flex; flex-direction: column; gap: 0.5vw; }
				h3 { color: #EDE8E4; cursor: default; font-weight: 300; font-size: 1em; }
			} 
		}
		.workVentureOuter {
			width: 14vw;
			position: fixed;
			left: 71vw;
			bottom: 60vh;
			margin-bottom: -0.6vh;
			background-color: #EDE8E4;
			border-radius: 3vw;
			padding: 2vh;
			.imageContainerOtherVenture {
				width: 13vw;
				height: 14vw;
				div {
					width: 100%;
					height: 100%;
					background-image: url(/images/background.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					margin-left: -0.5vw;
				}
			}
		}
		.otherVenturesSpan { position: absolute; z-index: 1; transition: color 0.4s linear; right: -6vw; bottom: 30vh; }
	}
}
