/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@import "tailwindcss";

:root { --background: #FFFFFF; --foreground: #2d333a; }

@theme inline { --color-background: var(--background); --color-foreground: var(--foreground); --font-sans: var(--font-geist-sans); --font-mono: var(--font-geist-mono); }

@media (prefers-color-scheme: dark) { :root { --background: var(--background); --foreground: var(--foreground); } }

body { min-height: 100svh; background: var(--background); color: var(--foreground); font-family: Arial, Helvetica, sans-serif; margin: 0px; overflow-x: hidden; overflow-y: auto; cursor: wait; }

/* width */
::-webkit-scrollbar { width: 0.5vw; visibility: hidden; display: none; }

/* Track */
::-webkit-scrollbar-track { background: #FFFFFF; }

/* Handle */
::-webkit-scrollbar-thumb { background: #EF4444; border-radius: 1vw; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #EF4444; }