@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body { min-height: 100vh; }

/* width */
::-webkit-scrollbar { width: 0.5vw; visibility: hidden; display: none; }
 
/* Track */
::-webkit-scrollbar-track { background: #FFFFFF; }
 
/* Handle */
::-webkit-scrollbar-thumb { background: #EF4444; border-radius: 1vw; }
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #EF4444; }