.introductionE, .introductionH {
    height: 100vh; width: 100vw; display: flex; align-items: center; justify-content: center; position: fixed; z-index: 99; overflow: hidden;
    svg { position: absolute; top: 0; width: 100%; height: calc(100% + 300px); }
    p {
        display: flex; align-items: center; position: absolute; z-index: 1; text-align: center; padding: 0 20px; font-size: clamp(20px, 5vw, 42px);
        span { display: block; width: clamp(6px, 2vw, 10px); height: clamp(6px, 2vw, 10px); border-radius: 50%; margin-right: 10px; flex-shrink: 0; }
    }
}

/* Earthline */
.introductionE { background-color: #EDE8E4; color: #967969; svg path { fill: #EDE8E4; } p span { background-color: #967969; } }

/* Handout */
.introductionH { background-color: #7a0007; color: white; svg path { fill: #7a0007; } p span { background-color: white; } }